$light-accent: #f4f4f4 ;
$bright-accent: #FF7A6F ;
$primary-accent: #87C5D6 ;
$main-color: #6388A0;
$dark-accent: #173F75;


$white: #fff;
$dark-gray: #454c53;
$medium-gray: #4e545b;
$light-gray: #e7e7e8;

$transparent-light-purple: rgba(167, 108, 222, 0.7);

// ASSIGNED COLORS
$background-color: $white;
$text-color: $dark-gray;
