//Fonts
$description-font: 'Open Sans', sans-serif;
$default-font: 'Lora'
$header-font: 'Lalezar', cursive;
$header-font-alt:
$paragraph-font-regular:
$paragraph-font-fancy:

// Numbers
$default-font-size: 1rem;
$extra-small-font-size: 0.6rem;
$small-font-size: 0.7rem;
$large-font-size: 1.2rem;
$mobile-nav-font-size: 2rem;
$extra-large-font-size: 5rem;

$line-height: 1.5;

//Fonts:

h1
  font-family: 'Lora';
  font-size: 126px;
  italic

h2
  font-family: 'Lora';
  font-size: 32px;
  letter-spacing: 110%
  text-transform: uppercase;

p 
  font-family: 'Lora';
  font-size: 20px;
